.tabbar {
  justify-content: center;
}

.tab-button {
  max-width: 200px;
}


  .toolbar-title {
    text-overflow: initial;
  }


    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
